@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white text-black antialiased;
  font-family: 'Inter', system-ui, sans-serif;
}
